<div class="message">
    <div class="username"><%=message.user.username%><i class="material-icons">keyboard_arrow_right</i></div>
    <div class="content">
      <%=message.content%>
    </div>
</div>
