<div class="row">
    <%=form_for message, remote: true, authenticity_token: true, id: 'new_message' do |f|%>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">chat</i>
          <%= f.text_field :content, data: { textarea: "message" }, id: "icon_prefix2", class:"form-control"%>
          <label for="icon_prefix2">Your message</label>
          <%= f.hidden_field :chatroom_id, value: chatroom.id %>
      </div>
      <div class="button">
        <%= f.submit "send", class: "submit-button waves-effect waves-light", data: {send: "message"}%>
      </div>
    </div>
  <%end%>
</div>
