<div class="container new-session">
  <h4 class="blue-grey-text">Sign in with Facebook</h4>
  <div class="sign-in">
    <i class="fa fa-facebook small"></i>
    <%= link_to 'Sign In', auth_path(:facebook), class: "btn" %>
  </div>
</div>
