<form class="col s8" id="new-chatroom">
  <%= form_for chatroom, remote: true do |f| %>

    <div class="new-topic">
      <div class="input-field topic">
        <i class="material-icons prefix">group_add</i>
        <%= f.text_field :topic, class: "form-control validate", id: "icon_prefix" %>
        <label for="icon_prefix">Start a topic</label>
      </div>
      <div class="chatroom-button">
        <%= f.submit class: "btn waves-effect waves-light", id: "create-chatroom", class: 'create-chatroom' %>
      </div>
    </div>


  <% end %>
</form>
