<div id="chatrooms">
    <div class="row top">

        <h3 class="col s4">Create a Chatroom</h3>
    

      <%= render partial: 'chatroom_form', locals: {chatroom: @chatroom} %>
    </div>

    <div id="chatroom-errors">
    </div>

    <h3>Join a Chatroom</h3>
      <ul id="chatroom-index">
        <% if @chatrooms.any? %>
            <%= render @chatrooms%>
        <%else %>
      </ul>
        <p>Be the first one to make a chatroom!</p>
        <% end %>

</div>
