<div class="container">
  <%= form_for @user do |f| %>
    <%= f.text_field :username, label: false, placeholder: "UserName", id: "new_user" %>
    <%= f.submit "Submit", class: "btn" %>
  <% end %>
</div>
